In [119]:
list1 = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]

In [120]:
list_of_names = []
type(list_of_names)

list

In [121]:
my_list = list('january')
my_list

['j', 'a', 'n', 'u', 'a', 'r', 'y']

In [122]:
list2  = list((1,2))

list2

[1, 2]

In [123]:
# list3 = list((123))  error
list3 = list((123,)) # correct
list3

[123]

In [124]:
list3.append(4)
list3

[123, 4]

In [125]:
list3.extend([5,6])
list3

[123, 4, 5, 6]

In [126]:
list4 = [1,2]
list5 = [3,4]
list4 = list5
list4

[3, 4]

In [127]:
print(id(list4))
print(id(list5))

4506477056
4506477056

In [128]:
list4.append(5)
list5

[3, 4, 5]

In [129]:
list6 = []
list7 = [3,4]

list6 = list7.copy()
list6

[3, 4]

In [130]:
list6.count(5)

0

In [131]:
list6.index(5)

ValueError: 5 is not in list

In [ ]:
list6.insert(0, 5)
list6

[5, 3, 4]

In [ ]:
list6.append(0)
list6

[3, 4, 0]

In [ ]:
list6

[3, 4, 0]

In [ ]:
list6.pop(2)

0

In [ ]:
list6

[3, 4]

In [132]:
list6.remove(4)
list6

[3]

In [136]:
list7 = list('table')
list7

['t', 'a', 'b', 'l', 'e']

In [139]:
list7.reverse()
list7

['e', 'l', 'b', 'a', 't']

In [142]:
list7.sort()
list7

['a', 'b', 'e', 'l', 't']

In [145]:
my_list = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]
my_list[4][1]

3

In [147]:
list8 = ["a", "b", "c"] 
list9 = [1, 2, 3]

In [148]:
list10 = list8 + list9
list10

['a', 'b', 'c', 1, 2, 3]

## Tuples